body{
    margin: 0;
    border: 0;
    padding: 0;
}

/* Slideshow */
.section1{
    background: url(https://www.visitarizona.com/imager/s3_us-west-1_amazonaws_com/aot-2020/images/Hero-Images/Phoenix-cityscape_603abd2f6782d45765146edc48eb2baa.jpg);
    height: 90vh;
    background-size: cover;
}
#overlay{
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 700;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* End Slideshow */

/* Footer */
footer{
    background: #111111;
    min-height: 10vh;
    display:flex;
}
footer > div {
  flex:1;
}
.copyright, p{
    color: white;
}

.contact{
    color: white;
}

a{
    text-decoration: none;
    color: white;
}
/* End Footer */