body{
    margin: 0;
    border: 0;
    padding: 0;
}

/* section 1 */
.section1{
   
}
/* End section 1 */

/* Footer */
footer{
    background: blue
    min-height: 10vh;
    display:flex;
}
footer > div {
  flex:1;
}
.copyright, p{
    color: white;
}

.contact{
    color: white;
}

a{
    text-decoration: none;
    color: white;
}
/* End Footer */