body { margin: 0; padding: 0; }

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.125em;
    background: darkblue;
    text-align: center;
}


#content {
    margin-top: 3.75em;
}

#top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.125em;
    background: darkblue;
    text-align: center;
}



#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3.125em;
    background: darkblue; 
    text-align: center;
    color: white;
    padding: 0.313em 0.625em 1.875em 0.313em;
}




.outer1 {
    border: 0px solid black;
    margin: 1rem;
    padding: .5rem .5rem;
    text-align: center;
    color: white;
  }

  .innerright1 {
    display: inline-block;
    border: 0px solid red;
    padding: .5rem .5rem;
    vertical-align: middle;
  }



.outer1a {
    border: 0px solid black;
    margin: 1rem;
    padding: .5rem .5rem;
    text-align: center;
    color: white;
  }

  .innerright1a {
    display: inline-block;
    border: 0px solid red;
    padding: .5rem .5rem;
    vertical-align: middle;
  }




.outer2 {
    border: 0px solid black;
    margin: 1rem;
    padding: .5rem .5rem;
    text-align: center;
  }





  .outer3 {
    border: 0px solid black;
    margin: 1rem;
    padding: .5rem .5rem;
    text-align: center;
  }

  .innerleft3 {
    display: inline-block;
    border: 0.063em solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  .innerright3 {
    display: inline-block;
    border: 0.063em solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }






  
  .outer4 {
    border: 0px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }

  .innerleft4 {
    display: inline-block;
    border: 0px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  .innerright4 {
    display: inline-block;
    border: 0px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }
