body { margin: 0; padding: 0; }

#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: #654236;
  text-align: center;
  font-family: 'Noto Sans';
}

#content {
    margin-top: 60px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #654236; 
    text-align: center;
    color: white;
    font-size: 13px;
    font-family: 'Noto Sans';
}

.outer1 {
    border: 0px solid black;
    margin: 1rem;
    padding: 1rem 1rem;
    text-align: center;
    font-family: 'Noto Sans';
  }

  .innerleft1 {
    display: inline-block;
    border: 0em solid darkorange;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  .innerright1 {
    display: inline-block;
    border: 0em solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }



.outer2 {
    margin: 1rem;
    text-align: center;
    font-family: 'Noto Sans';
    background: darkorange;
    font-size: small;
  }



  .outer3 {
    border: 0px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    font-family: 'Noto Sans';
  }

  .innerleft3 {
    display: inline-block;
    border: 0em solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  .innerright3 {
    display: inline-block;
    border: 0em solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  .innerleft4 {
    display: inline-block;
    border: 0em solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  .innerright4 {
    display: inline-block;
    border: 0em solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
    background: darkorange;
    height: 10px;
    width: auto;
  }

  .innerleft11 {
    display: inline-block;
    border: 0em solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
    background: darkorange;
    height: 150px;
    width: auto;
  }

  .innerright11 {
    display: inline-block;
    border: 0em solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
    background: darkorange;
    height: 150px;
    width: auto;
  }

